:80 {
    proxy / php:8080 {
        header_upstream Host {host}
        header_upstream X-Real-IP {remote}
        header_upstream X-Forwared-For {remote}
        header_upstream X-Forwarded-Proto {scheme}
    }
    gzip
}
:443 {
    proxy / php:8080 {
        header_upstream Host {host}
        header_upstream X-Real-IP {remote}
        header_upstream X-Forwared-For {remote}
        header_upstream X-Forwarded-Proto {scheme}
    }
    gzip
    tls self_signed
}