.qi-logo {
  width: 1.25em;
  height: 1em;
  display: inline-block;
  font-size: inherit;
  height: 1em;
  vertical-align: -0.125em
}

.qi-branding {
  font-size: 1em;
  font-weight: bold;
  color: #fff;
}
