<div class="page-content">
  <h1 class="page-title">Edit Post</h1>
  <div class="row">
    <div class="col-9 text-editor-container">
      <form *ngIf="postForm" [formGroup]="postForm" novalidate class="form">
        <div class="card">
          <div class="card-body">
            <div class="input-group input-group-xlg mb-3">
              <input type="text" class="form-control text-xlg borderless no-highlight" formControlName="title" placeholder="Title goes here">
            </div>
            <quill-editor id="wysiwyg-new-post-body" placeholder="Content goes here" formControlName="body"></quill-editor>
          </div>
        </div>
      </form>
    </div>
    <div class="col-3">
      <app-publish-box [status]="status" [disabled]="formLocked" (submit)="publishPost($event)" (draft)="draftPost($event)" (preview)="formPreview($event)"></app-publish-box>
    </div>
  </div>
</div>
