<!-- <nav class="navbar navbar-light sticky-top flex-md-nowrap p-0 bg-light top-bar">
  <div class="navbar-brand col-sm-3 col-md-2 mr-0 bg-dark"><app-qi-logo></app-qi-logo></div>
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      -<app-logout-button></app-logout-button>
    </li>
  </ul>
</nav> -->
<div class="container-fluid page-content">
  <div class="row">
    <app-side-menu></app-side-menu>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
