<app-editor-toolbar [disabled]="formLocked" (submit)="publishPost()" (draft)="draftPost()" (preview)="formPreview()"></app-editor-toolbar>
<div class="page-content">
  <h1 class="page-title">Add New Post</h1>
  <div class="row">
    <div class="col-9 text-editor-container">
      <form [formGroup]="postForm" novalidate class="form">
        <div class="card">
          <div class="card-body">
            <div class="input-group input-group-xlg mb-3">
              <input type="text" class="form-control text-xlg borderless no-highlight" formControlName="title" placeholder="Title...">
            </div>
            <quill-editor id="wysiwyg-new-post-body" placeholder="Write your content here..." formControlName="body"></quill-editor>
          </div>
        </div>
      </form>
    </div>
    <div class="col-3">
      <app-post-info-box [status]="status"></app-post-info-box>
    </div>
  </div>
</div>
