html,
body {
  font-size: 0.9rem;
  background-color: #f1f1f1;
}

.full-page-component {
  height: 100vh;
  padding-top: 40px;
}

h1 {
  &.page-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #343a40;
    margin-bottom: 1em;
  }
}

.section-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 15px;
  color: #343a40;
}

.card {
  .card-image {
    height: 60%;
    position: relative;
    overflow: hidden;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: -30px;
    border-radius: 6px;
    box-shadow: 0px 4px 1px -2px rgba(0,0,0,0.4);
    img {
      width: 100%;
      height: 100%;
      border-radius: 6px;
      pointer-events: none;
    }
  }
  img {
    width: 100%;
    height: auto;
  }
}

/* Colors override */

.btn-primary {
  background-color: #005B87;
  border-color: #004668;
}

.btn-primary:hover {
  background-color: #004668;
  border-color: #001B28;
}

.btn-nullified {
  background-color: #f7f7f7;
  border-color: #c0c0c0;
}

.btn-nullified:hover {
  background-color: #c0c0c0;
  border-color: #b0b0b0;
}

.btn-link {
  color: #005B87;
}

.btn-link:hover {
  color: #001B28;
}

.ql-container {
  font-size: 16px;
}

/* Font size override */

.label-primary {
  font-size: 1.2em;
}

/* New defined components */

.tag-secondary {
  color: #fff;
  background-color: #6c757d;
}

.tag {
  display: inline-block;
  padding: .25em .4em;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
}

.tags-list {
  margin: 0px;
  padding: 0px;
}

.tags-list li {
  list-style-type: none;
  float: left;
}

.tags-list li:not(:first-child) {
  margin-left: 4px;
}

/* Style override */

.bootstrap.ng2-tag-input {
  border-bottom: none !important;
}

.bootstrap tag {
  background-color: #005B87 !important;
}

.fa-15 {
  font-size: 1.5em;
}

button.close {
  border: none;
  background-color: transparent;
}

.box {
  .card-header {
    font-weight: bold;
  }
}

.bullet-icon {
  margin-right: 0.25em;
}

.widget-box {
  .card-header {
    font-weight: bold;
  }
}

.borderless {
  border: none;
  border-radius: 0 !important;
}

.input-group-xlg {
  >.form-control {
    padding: 2.25rem 1rem;
    font-size: 2rem;
    line-height: 2.75rem;
  }
}

.no-highlight:focus {
  color: #495057;
  background-color: #fff;
  border: none !important;
  outline: 0;
  box-shadow: none !important;
}

.row {
  &.page-title {
    height: 3rem;
  }
}
